.header {
    height: 750px;
    background: url('../img/Layer34.png')
}

.wrapper-header {    
    margin: 0 auto;    
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.logo {
    margin-top: 39px;
}

.header-underline {
    border-bottom: 1px solid #d6d6d63b;
    padding-bottom: 38px;
}

.menu {
    margin-top: 38px;
    justify-content: flex-end;
    display: flex;
}

.menu__item {
    margin-left: 59px;
}

.menu__item a {
    font-family: $main-font;
    font-size: 13px;
    font-weight: 700;
    color: #c9ccd5;
}

.header-text-wrapper {
    margin-top: 141px;
}

.header-title {
    font-family: $secondary-font;
    font-size: 65px;
    font-weight: 700;
    color: $white;
    text-align: center;
    margin: 0 auto; 
    line-height: 1.1;
}

.header-text {    
    font-family: $main-font;
    font-size: 22px;
    color: $white;
    margin: 24px auto 0;
    padding: 0 28px;
    text-align: center;
}

.header-button-wrapper {
    margin-top: 73px;
}

.header-button {
    background-color: $red;
    height: 46px;
    width: 200px;
    color: $white;
    font-family: $main-font;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 14px 0 0 7px;

    &:hover {
        color: black;
        cursor: pointer;
        background-color: #db3434;
    }
}
 
.no-padding {
    padding-left: 0;
    padding-right: 0
}

@media (min-width: 1170px) {
    .wrapper-header {
        width: 1170px;
    }
 }

 @media (max-width: 1200px) {
    .menu {        
        justify-content: center;       
    }

    .activeBox {
         text-align: center;
     }

    .header {
         height: 690px;
    }

    .header-text-wrapper {
        margin-top: 60px;
    }

    .header-title {
        font-size: 40px;
    }

    .header-text {  
        font-size: 20px;
    }
 }

 @media (max-width: 670px) {
    .header-text-wrapper {
        margin-top: 30px;
    }

    .header-title {
        font-size: 30px;
    }

    .header-text {  
        font-size: 15px;
    }

    .menu {
        display: block;
    }
 }